body {
  background-color: #b7682e;
  font-family: "Lora", serif;
}

.card {
  border-radius: 30px;
  margin-bottom: 40px;
}

.card-body {
  border-radius: 5px;
}
.btn {
  background-color: #be8126;
  transition: 300ms;
}
.btn:hover {
  transform: translateY(-10px);
}
iframe {
  border-radius: 20px;
}

.contact {
  background-color: #ffe5be;
}

footer a {
  text-decoration: none;
}
